<div class="contextual">
    <% if User.current.allowed_to?(:manage_testcases, nil, :global => true) %>
        <%= link_to_function l(:label_add_test_suite), 'add_test_suite(this)', :class => 'icon icon-add' %>
        <%= link_to_function l(:label_add_test_case), 'add_test_case(this)', :class => 'icon icon-add' %>
    <% end %>
</div>
<div class="tab-content">
    <div class="splitcontentleft">
       <div id="issue-list">
           <%= render :partial => 'testit_common/issue_list', :locals => {:issues => @issues, :query => @query, :title => l(:label_test_case_plural)} %>
       </div>
    </div>
    <div class="splitcontentright">
       <div id="testit-view"></div>
    </div>
</div>

