
<div class="contextual">
    <% if User.current.allowed_to?(:manage_testcases, nil, :global => true) %>
        <%= link_to_function l(:label_add_test_plan), 'add_test_plan(this)', :class => 'icon icon-add' %>
    <% end %>
</div>
<div class="tab-content">
    <div class="splitcontentleft">
       <div id="issue-list">
           <%= render :partial => 'testit_common/issue_list', 
               :locals => {:issues => @issues, :query => @query, 
                            :title => l(:label_test_plan_plural),
                            :available_formats => ['CSV', 'PDF'],
                            :query_form_id => 'query-form',
                            :query_submit_url => partial_query_common_options,
                            :query_list_dest_id => 'issue-list',
                            :table_form_id => 'table-issue-list',
                            :table_show_select_all => false}
           %>
       </div>
    </div>
    <div class="splitcontentright">
       <div id="testit-view"></div>
    </div>
</div>

