
<div id="issue-for-relations-list">
  <% if @query.valid? %>
    <% if @issues.empty? %>
       <p class="nodata"><%= l(:label_no_data) %></p>
    <% else %>
        <%= render_query_totals(@query) %>
        <%= render :partial => 'testit_common/list', :locals => {:issues => @issues, :query => @query,
                                                                 :table_form_id => 'rel-table-issue-list',
                                                                 :table_show_select_all => true,
                                                                 :selected => @testit_relations} %>
       <%# TODO XXX fix pagination. definido num modulo dentro de lib/redmine/pagination.rb ... %>
       <% 
           # view partial_query_common_options
       x=pagination_links_full @issue_pages, @issue_count
       # todo add form_id 
       x.gsub!( /href=\"(.*?)\"/,'href="#" onclick="loadIssueListbyUrl(\'\1\',\''"issue-for-relations-list"'\');"')
       %>
       <span class="pagination"><%=raw x%></span>
    <% end %>
  <% end %>
</div>

