
<% if prev_issue_id || next_issue_id %>
    <div class="next-prev-links contextual">
    <%=if prev_issue_id
           link_to_function  "\xc2\xab #{l(:label_previous)}", "showIssue('#{url_for_testit_issue(:issue_id => prev_issue_id[0], :tracker_id => prev_issue_id[1], :action => 'show')}')",
               :title => "##{prev_issue_id[0]}", :accesskey => accesskey(:previous)
       else
           "\xc2\xab #{l(:label_previous)}"
       end%>|
       <% if issue_position && issue_count %>
           <span class="position"><%= l(:label_item_position, :position => issue_position, :count => issue_count) %></span> |
   <% end %>
       <%=if next_issue_id
              link_to_function  "#{l(:label_next)} \xc2\xbb", "showIssue('#{url_for_testit_issue(:issue_id => next_issue_id[0], :tracker_id => next_issue_id[1], :action => 'show')}')",
                  :title => "##{next_issue_id[0]}", :accesskey => accesskey(:next)
          else
              "#{l(:label_next)} \xc2\xbb"
          end%>
  </div>
<% end %>

