<%= labelled_fields_for :issue, @issue do |f| %>

<%= hidden_field_tag 'form_update_triggered_by', '' %>


<div id="attributes" class="attributes">
  <%= render :partial => 'testit_runs/attributes' %>
</div>


<% end %>

<% heads_for_wiki_formatter %>

<%= javascript_tag do %>
$(document).ready(function(){
  $("#issue_tracker_id, #issue_status_id").each(function(){
    $(this).val($(this).find("option[selected=selected]").val());
  });
});
<% end %>
